<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SaiGon Care</a>
            </li>
            {% if current_user.is_authenticated %}
            <!-- Dropdown cho người dùng đã đăng nhập -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {% if current_user.avatar %}
                    <img src="{{ current_user.avatar }}" alt="{{ current_user.name }}" width="30"
                         class="rounded-circle">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/login.png') }}" width="30" class="rounded-circle">
                    {% endif %}
                    {{ current_user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                    {% if current_user.user_role.value == 'patient' %}
                    <li><a class="dropdown-item" href="{{ url_for('appointment') }}">Lịch khám</a></li>
                     <li><a class="dropdown-item" href="{{ url_for('history_medical_detail') }}">Lịch sử bệnh</a></li>
                    {% endif %}
                </ul>
            </li>
<!--             Đăng nhập với tư cách bệnh nhân-->
            {% if current_user.user_role.value == 'patient' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register_appointment') }}">Đăng ký lịch khám</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="/paymentlist">Danh sách thanh toán</a>
            </li>

<!--            Đăng nhập với tư cách y tá -->
            {% elif current_user.user_role.value == 'nurse' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('search_patient') }}">Đăng ký lịch khám </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('list_appointment') }}">Danh sách khám</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="/payment">Thanh toán</a>
            </li>

<!--            đăng nhập với tư cách bác sĩ -->
            {% elif current_user.user_role.value == 'doctor' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('medical_details') }}">Tạo phiếu khám bệnh</a>
            </li>


<!--đăng nhập với tư cách ??????? -->

            {% endif %}
            <li class="nav-item">
                <a class="nav-link text-success" href="/signout">Đăng xuất</a></li>
            {% else %}
            <!-- Người dùng chưa đăng nhập -->
            <li class="nav-item">
                <a class="nav-link text-danger" href="/register">Đăng ký</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" href="/login">Đăng nhập</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>