{% extends "layout/base.html" %}
<style>
    input {
        width: 200px;
        height: 30px;
    }
</style>

{% block content %}
    <script src="{{ url_for('static', filename='js/Payment/payment.js') }}"></script>
    {#    {% if mes %}#}
    {#        <div class="alert alert-danger mt-2"> {{ mes }}</div>#}
    {#    {% endif %}#}
    {% if payment %}
        <h1 style="text-align: center; color: red;">Danh sách các hóa đơn thanh toán online</h1>
        <div class="container-fluid">
{#            <form action="/info_payment" enctype="multipart/form-data" method="post">#}
            <ul class="list-group w-100 h-auto">
                {% for m,p in payment %}
                    <li class="list-group-item">
                     <form action="/info_payment" enctype="multipart/form-data" method="post">
                        <ul class="list-unstyled">
                            <li><label class="form-label">Hóa đơn:</label>
                                <input type="text" name="payment_id" value="{{ p.id}}" readonly style="width: 50px; border: none;">

                            </li>
                            <li><label class="form-label">Phiếu khám bệnh:</label>
                                <label class="form-label">{{ m.id }}</label>
                            </li>
                            <li><label class="form-label">Tổng tiền:</label>
                                <label class="form-label">{{ p.sum }} VND</label>
                            </li>
                        </ul>
                        <div class="d-flex ">
                            <button class="text-light btn btn-primary">Thanh toán</button>
                        </div>
                     </form>
                    </li>

                {% endfor %}
            </ul>
        </form>
        </div>
    {% endif %}
    {% if mess %}
        <div class="alert alert-danger mt-3 mb-3"> {{ mess }}</div>
    {% endif %}

{% endblock %}
