{% extends 'admin/base.html' %}

{% block body %}
<a href="{{ url_for('drugmanagement.index') }}" class="btn btn-success mb-3">Danh sách</a>
<a href="{{ url_for('drugmanagement.add_drug') }}" class="btn btn-primary mb-3">Thêm Thuốc</a>
<!-- Tiêu đề danh sách thuốc -->
<h3 class="text-center mb-3">Thêm Thuốc</h3>
<div class="container mt-4">
    <form method="POST" action="{{ url_for('drugmanagement.add_drug') }}">
        <div class="form-group">
            <label for="name">Tên Thuốc</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>

        <!-- Chọn loại thuốc -->
        <div class="form-group">
            <label for="drugType">Loại Thuốc</label>
            <select id="drugType" name="drugType" class="form-control">
                {% for type in drugTypes %}
                <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Chọn đơn vị thuốc -->
        <div class="form-group">
            <label for="drugUnit">Đơn Vị Thuốc</label>
            <select id="drugUnit" name="drugUnit" class="form-control">
                {% for unit in drugUnits %}
                <option value="{{ unit.id }}">{{ unit.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="price">Giá</label>
            <input type="text" id="price" name="price" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="quantity">Số Lượng</label>
            <input type="number" id="quantity" name="quantity" class="form-control" required>
        </div>
        <!-- Nhóm nút -->
        <div class="d-flex justify-content-center gap-4 mt-4">
            <!-- Nút Thêm Thuốc -->
            <button type="submit" class="btn btn-primary" style="margin-right: 2px">Thêm Thuốc</button>
            <!-- Nút Reset -->
            <button type="reset" class="btn btn-danger" style="margin-left: 2px">Hủy</button>
        </div>

    </form>
</div>
<div class="mt-5"></div>
{% endblock %}
