{% extends 'admin/base.html' %}

{% block body %}
<div class="container mt-4">
    <!-- Nút tra cứu và input -->
    <form method="get" action="/admin/drugmanagement">
        <div class="row g-3 mb-3">
            <!-- Nhập tên thuốc -->
            <div class="col-md-4">
                <label for="name" class="form-label">Tên Thuốc</label>
                <input class="form-control" id="name" name="name" type="text" placeholder="Nhập tên thuốc">
            </div>

            <!-- Chọn loại thuốc -->
            <div class="col-md-4">
                <label for="drugType" class="form-label">Loại Thuốc</label>
                <select id="drugType" name="type" class="form-control">
                    <option value="" selected>-- Chọn loại thuốc --</option>
                    {% for type in drugTypes %}
                    <option value="{{ type.id }}">
                        {{ type.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Chọn đơn vị thuốc -->
            <div class="col-md-3">
                <label for="drugUnit" class="form-label">Đơn Vị Thuốc</label>
                <select id="drugUnit" name="unit" class="form-control">
                    <option value="" selected>-- Chọn đơn vị thuốc --</option>
                    {% for unit in drugUnits %}
                    <option value="{{ unit.id }}">
                        {{ unit.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Nút tìm kiếm -->
            <div class="col-md-1 d-flex align-items-end">
                <button type="submit" class="btn btn-secondary w-100">Tìm</button>
            </div>
        </div>
    </form>


    <a href="{{ url_for('drugmanagement.index') }}" class="btn btn-success mb-3">Danh sách</a>
    <a href="{{ url_for('drugmanagement.add_drug') }}" class="btn btn-primary mb-3">Thêm Thuốc</a>

    <!-- Tiêu đề danh sách thuốc -->
    <h3 class="text-center mb-3">Danh Sách Thuốc</h3>
    <!-- Bảng danh sách thuốc -->
    <div class="table-responsive">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for idx in range(1,page+1) %}
                <li class="page-item"><a class="page-link" href="{{url_for('drugmanagement.index',page=idx)}}">{{ idx }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên Thuốc</th>
                <th scope="col">Loại Thuốc</th>
                <th scope="col">Đơn Vị Thuốc</th>
                <th scope="col">Giá</th>
                <th scope="col">Số Lượng</th>
                <th scope="col">Ngày Tạo</th>
                <th scope="col">Ngày Cập Nhật</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for drug in drugs %}
            <tr>
                <th scope="row">{{ drug.id }}</th>
                <td>{{ drug.name }}</td>
                <td>
                    {% for drugType in drugTypes %}
                    {% if drugType.id == drug.drugType %}
                    {{ drugType.name }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for drugUnit in drugUnits %}
                    {% if drugUnit.id == drug.drugUnit %}
                    {{ drugUnit.name }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{ drug.price }}</td>
                <td>{{ drug.quantity }}</td>
                <td>{{ drug.create_date }}</td>
                <td>{{ drug.update_date }}</td>
                <td>
                    <a href="{{ url_for('drugmanagement.edit_drug', drug_id=drug.id) }}"
                       class="btn btn-info mb-3">Sửa</a>
                </td>
                <td>
                    <form action="{{ url_for('drugmanagement.delete_drug', drug_id=drug.id) }}" method="POST"
                          style="display: inline-block;">
                        <button type="submit" class="btn btn-warning mb-3">Xóa</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<div class="mt-5"></div>
{% endblock %}
