{% extends 'layout/base.html' %}

{% block title %}Lịch Sử Khám Bệnh{% endblock %}

{% block content %}
<div class="container mt-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <i class="bi bi-check-circle-fill"></i> {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}

    {% if patient_info %}
    <div class="card shadow-sm mb-4 border-0">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0"><i class="bi bi-clock-history"></i> Lịch Sử Khám Bệnh</h4>
        </div>
        <div class="card-body p-0">
            <ul class="list-group list-group-flush">
                {% for h in history_medical %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <div class="d-flex flex-column">
                        <span class="fw-bold text-dark">Ngày Khám: {{ h.create_date.strftime('%d/%m/%Y') }}</span>
                        <span>Chuẩn Đoán: <strong>{{ h.diagnose }}</strong></span>
                        <span>Mã phiếu khám: <strong>{{ h.id }}</strong></span>
                        <span>Triệu Chứng: {{ h.symptoms }}</span>
                        <span>Bác Sĩ:
                            {% for d in user %}
                            {% if d.id == h.doctor_id %}
                            <strong>{{ d.name }}</strong>
                            {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                    <div>
                        <a href="{{ url_for('view_history_detail', medical_id=h.id) }}"
                           class="btn btn-outline-dark btn-sm">
                            <i class="bi bi-eye"></i> Xem chi tiết
                        </a>

                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
