/* styles.css */
.card-profile {
  border-radius: .5rem;
}

.card-body {
  padding: 1.5rem;
}

.card-header {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  background-color: #6c757d;
  color: white;
}

.card-img {
  width: 80px;
}

.card-info h6 {
  font-size: 16px;
}

.card-info p {
  color: #6c757d;
}

.card-social a {
  margin-right: 10px;
  font-size: 20px;
}
