/* Dropdown menu styling */
.navbar .dropdown-menu {
    background-color: #2c2c2c; /* Màu nền dropdown */
    color: #ffffff; /* Màu chữ */
    border: none;
}

/* Chỉnh màu chữ cho các item */
.navbar .dropdown-menu .dropdown-item {
    color: #ffffff; /* Màu chữ trắng */
}

/* Hover effect */
.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #444444; /* Màu nền khi hover */
    color: #ffffff; /* Màu chữ khi hover */
}
    /* Đảm bảo khoảng cách giữa nội dung và footer */
.container {
        margin-bottom: 50px; /* Tạo khoảng cách dưới body */
    }

footer {
        padding-top: 20px; /* Thêm khoảng cách từ phần nội dung đến footer */
    }
