{% extends 'layout/base.html' %}

{% block title %}Danh sách lịch khám{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/patient/edit_appointment.js') }}"></script>
<div class="container mt-4">
    <div class="row">
        <!-- Cột lọc theo ngày -->
        <div class="col-md-12 col-lg-8 mb-4">
            <h3 class="text-center">Lọc theo ngày khám</h3>
            <form method="GET" action="{{ url_for('list_appointment') }}" class="mb-3">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="schedule_date" class="col-form-label">Chọn ngày khám:</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" id="schedule_date" name="schedule_date" class="form-control"
                               value="{{ selected_date }}" required>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Lọc</button>
                    </div>
                </div>
            </form>
            <!-- Hiển thị thông báo từ hệ thống -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <!-- Hiển thị danh sách bệnh nhân -->
            {% if appointments %}

            <!-- Bảng hiển thị danh sách bệnh nhân -->
            <h3 class="text-center mb-3">Danh sách bệnh nhân đăng ký ngày {{ selected_date }}</h3>
            <div class="table-responsive ">
                <table class="table table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Giới tính</th>
                        <th>Email</th>
                        <th>Mô tả vấn đề</th>
                        <th>Thời gian khám</th>
                        <th>Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment, patient in appointments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ patient.name }}</td>
                        <td>{{ 'Nam' if patient.gender.value == 'male' else 'Nữ' }}</td>
                        <td>{{ patient.email }}</td>
                        <td>{{ appointment.description }}</td>
                        <td>{{ appointment.schedule_time }}</td>
                        <td>
                            {% if appointment.status.value == 'pending' %}
                            <span class="badge bg-warning">Chờ xác nhận</span>
                            {% elif appointment.status.value == 'confirmed' %}
                            <span class="badge bg-success">Đã xác nhận</span>
                            {% elif appointment.status.value == 'completed' %}
                            <span class="badge bg-success">Đã khám bệnh</span>
                            {% else %}
                            <span class="badge bg-danger">Bị hủy</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-4">
            {% if appointment_list and current_user.id == appointment_list.nurse_id %}
                <button class="btn btn-primary" onclick="confirmAppointment('{{ appointment_list.schedule_date }}')">Xác nhận yêu cầu</button>

                <button class="btn btn-primary" onclick="sendMailAppointment('{{ appointment_list.schedule_date }}')">Hoàn tất danh sách</button>

            {% elif appointment_list %}
            <div class="alert alert-info" role="alert">
                Danh sách này đã được y tá khác quản lý
            </div>
            <!--  Chưa có ai quản lý danh sách này cả  -->
            {% else %}
            <div class="text-center mt-4">
                <input type="button"
                       onclick="confirmAppointment('{{ appointments[0][0].schedule_date }}')"
                       value="Lập danh sách khám"
                       class="btn btn-success"/>
            </div>

            <!--  Kết thúc if của appointment_list   -->
            {% endif %}

            </div>
            {% endif %}
        </div>
        <!-- Cột lọc theo ngày đã lập -->
        <div class="col-md-12 col-lg-4 mb-4">
            <h3 class="text-center">Danh sách ngày khám đã lập</h3>
            <div id="managed_days">
                {% if managed_days %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>Ngày khám</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for day in managed_days %}
                        <tr>
                            <td>{{ day.schedule_date }}</td>
                            <td>
                                <input type="button"
                                       onclick="viewDetails('{{ day.schedule_date }}')"
                                       value="Xem chi tiết"
                                       class="btn btn-light"/>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="text-center">Không có ngày nào được lập.</p>
                {% endif %}
            </div>
        </div>

    </div>

</div>
{% endblock %}
