{% extends 'layout/base.html' %}
{% block title %}Đăng ký lịch khám{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4 text-primary">Tra cứu bệnh nhân</h2>

    <div class="col-md-8 offset-md-2 border p-5 rounded shadow bg-white">
        <!-- Hiển thị thông báo từ hệ thống -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <form action="{{ url_for('search_patient') }}" method="post">
            {% if current_user.user_role.value == 'nurse' and not patient_id %}
            <div class="mb-4">-->
                <label for="patient_id" class="form-label">Nhập ID bệnh nhân:</label>
                <input type="text" class="form-control" id="patient_id" name="patient_id"
                       placeholder="Nhập ID bệnh nhân" required>
                <button type="submit" class="btn btn-secondary mt-2" onclick="">Tìm kiếm</button>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}