{% extends 'layout/base.html' %}

{% block title %}Tạo phiếu khám bệnh{% endblock %}
{% block header %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_box.css') }}">
    <script src="{{ url_for('static', filename='js/medical_details/drug_list.js') }}"></script>
    <script src="{{ url_for('static', filename='js/medical_details/history_patient.js') }}"></script>
</head>
{% include 'layout/header.html' %}

<div class="row" style="background-color:lavender;">
    <form method="POST" action="{{ url_for('medical_details') }}">
        <div class="d-flex align-items-center" style="margin-top: 10px">
            <input type="hidden" name="action" value="search_appointment">
            <label class="form-label">Mã lịch khám</label>
            <div class="search-box">
                <input type="text" class="form-control search-input" placeholder="Search..." style="margin-top:23px"
                       name="appointment_id" required>
                <button type="button" id="search_button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search search-icon" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </div>
    </form>

</div>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-error">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<!-- Tiêu đề danh sách thuốc -->
<h3 class="text-center mb-3">Danh Sách Thuốc</h3>
<!-- Bảng danh sách thuốc -->
<div class="table-responsive">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for idx in range(1,page + 1) %}
            <li class="page-item"><a class="page-link" href="{{url_for('medical_details',page=idx)}}">{{ idx }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên Thuốc</th>
            <th scope="col">Loại Thuốc</th>
            <th scope="col">Đơn Vị Thuốc</th>
        </tr>
        </thead>
        <tbody>
        {% for drug in drugs_search %}
        <tr>
            <th scope="row">{{ drug.id }}</th>
            <td>{{ drug.name }}</td>
            <td>
                {% for drugType in types %}
                {% if drugType.id == drug.drugType %}
                {{ drugType.name }}
                {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for drugUnit in units %}
                {% if drugUnit.id == drug.drugUnit %}
                {{ drugUnit.name }}
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<form method="POST" action="{{ url_for('medical_details') }}" enctype="multipart/form-data">
    <input type="hidden" id="current_user_id" value="{{ current_user.id }}">
    <input type="hidden" id="patient_id" name="patient_id" value="{{ patient_info.id }}">
    <input type="hidden" id="appoint_id" name="appoint_id" value="{{ patient_appoint.id }}">
    <div class="row" style="margin-top: 40px; border: 2px solid">
        <!--      Thong tin benh nhan  -->

        <div class="col-md-6" style="background-color:#f1eeee; border-right:2px solid black">
            <h5 class="mb-6" style="text-align: center; background-color: #bec2c3; padding: 0">Thông tin bệnh nhân</h5>
            <div class="form-section mb-6" style="padding:12px">
                <div class="d-flex justify-content-between mb-2" style="margin-top: 3px">
                    <!--                    <button onclick="view_history_medical_detail()" class="btn btn-primary mb-3 ">Xem lịch sử bệnh</button>-->
                    <a href="{{ url_for('history_medical_detail', patient_id=patient_info.id) }}"
                       class="btn btn-primary mb-3">Xem lịch sử bệnh</a>

                </div>

                <div class="d-flex justify-content-between mb-2">
                    <div class="form-group">
                        <label for="schedule_date">Ngày Khám: </label>
                        <input class="form-control" id="schedule_date" name="schedule_date"
                               value="{{  patient_appoint.schedule_date }}" readonly>
                        <label for="schedule_date">Thời Gian: </label>
                        <input class="form-control" id="schedule_time" name="schedule_time"
                               value="{{  patient_appoint.schedule_time }}" readonly>

                    </div>

                    <div class="form-group">
                        <label for="name">Họ và Tên:</label>
                        <input type="text" class="form-control" id="name" name="patient_name"
                               value="{{ patient_info.name }}" readonly>
                        <label for="appointment_descript">Vấn đề khám:</label>
                        <textarea class="form-control" id="appointment_descript" name="appointment_descript" rows="4"
                                  readonly
                                  style="resize: none; font-size: 1rem;">{{ patient_appoint.description }}</textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-between mb-2">
                    <div class="form-group w-100">
                        <label for="symptoms">Triệu chứng:</label>
                        <textarea class="form-control" rows="2" id="symptoms" name="symptoms"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-between mb-2">
                    <div class="form-group w-100">
                        <label for="diagnose">Chẩn đoán bệnh:</label>
                        <textarea class="form-control" rows="2" id="diagnose" name="diagnose"></textarea>
                    </div>
                </div>

            </div>
        </div>


        <!--       Thêm thuốc          -->
        <div class="col-md-6" style="background-color:#f1eeee; ">
            <h5 class="mb-6" style="text-align: center; background-color: #bec2c3; padding: 0">Thêm thuốc</h5>
            <div class="form-section mb-6" style="padding:20px">

                <div class="d-flex justify-content-between mb-4" style="margin-top: 3px">
                    <!--     Type                -->
                    <div class="form-group">
                        <label for="type">Loại Thuốc</label>
                        <select id="type" name="types" class="custom-select w-100 form-control">
                            <option value="" selected>-- Chọn loại thuốc --</option>
                            {% for type in types %}
                            <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--       nameDrug            -->

                    <div class="form-group">
                       <label for="type">Tên Thuốc</label>
                        <input type="text" class="form-control" id="drug_name" name="drug_name"
                               placeholder="Nhập ten thuoc">
                    </div>


                </div>

                <div class="d-flex justify-content-between mb-4">
                    <div class="form-group">
                        <label for="units">Đơn vị:</label>
                        <select id="units" name="units" class="custom-select w-100 form-control">
                            <option value="" selected>-- Chọn đơn vị thuốc --</option>
                            {% for unit in units %}
                            <option value="{{ unit.id }}">{{ unit.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="quantity"> Số lượng:</label>
                        <input type="number" id="quantity" name="quantity" class="form-control" min="0" max="100"
                               value="0" step="1">
                    </div>
                </div>

                <div class="d-flex justify-content-between mb-2">
                    <div class="form-group w-100">
                        <label for="description">Cách dùng:</label>
                        <textarea class="form-control" rows="6" id="description" name="description"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-around mb-4" style="margin-top: 15%">
                    <input type="hidden" name="action" value="search_drug">
                    <button type="submit" class="btn btn-outline-primary">Tra cứu thuốc</button>
                    <input type="button"
                           onclick="add_drug_list()"
                           value="Thêm thuốc" class="btn btn-outline-success"/>
                </div>
            </div>
        </div>

    </div>

    <!--        Đơn thuốc  -->
    <div class="row" style="margin-top: 10px;">
        {% if 'drug_list' in session and session['drug_list'] %}
        <table class="table table-hover table-bordered">
            <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">Tên thuốc</th>
                <th scope="col">Loại thuốc</th>
                <th scope="col">Đơn vị</th>
                <th scope="col">Số lượng</th>
                <th scope="col">cách dùng</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for drug_detail in session['drug_list'].values() %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ drug_detail.name }}</td>
                {% for type in types %}
                {% if drug_detail.type == type.id %}
                <td>{{ type.name }}</td>
                {% endif %}
                {% endfor %}
                {% for unit in units %}
                {% if drug_detail.unit == unit.id %}
                <td>{{ unit.name }}</td>
                {% endif %}
                {% endfor %}
                <td>{{ drug_detail.quantity }}</td>
                <td>{{ drug_detail.description }}</td>
                <td>
                    <input type="button" onclick="delete_drug_detail({{ drug_detail.drug_id }})" value="xóa"
                           class="btn btn-danger"/>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Mục đơn thuốc đang rỗng</p>
        {% endif %}
    </div>
</form>

<!--        Choose -->
<div class="row md-4">
    <div class="col d-flex justify-content-around mb-4" style="margin-top: 3px">
        <a href="{{ url_for('medical_details') }}" class="btn btn-danger">Hủy</a>
        <button class="btn btn-success" name="save" onclick="add_medical_details()">Save</button>
    </div>
</div>
<script>
    document.getElementById('search_button').addEventListener('click', function() {
    reset_drug_list(); // Gọi hàm reset_drug_list khi nút được nhấn
});
</script>
{% endblock %}