{% extends 'layout/base.html' %}

{% block title %}Phiếu Khám Bệnh{% endblock %}

{% block content %}
<form >
  <div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Phiếu Khám Bệnh</h4>
        </div>
        {% if medical_detail %}
        <div class="card-body">
            <p><strong>Họ tên:</strong> {{ medical_detail.patient.name }}</p>
            <p><strong>Ngày khám:</strong> {{ medical_detail.create_date}}</p>
            <p><strong>Triệu chứng:</strong> {{ medical_detail.symptoms }}</p>
            <p><strong>Dự đoán loại bệnh:</strong> {{ medical_detail.diagnose }}</p>

            <h5 class="fw-bold mt-4">Danh Sách Thuốc</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Thuốc</th>
                        <th>Đơn vị</th>
                        <th>Số lượng</th>
                        <th>Cách dùng</th>
                    </tr>
                </thead>
                <tbody>
                    {% if drugs %}
                        {% for drug in drugs %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ drug.drugType }}</td>
                            <td>{{ drug.drugUnit }}</td>
                            <td>{{ drug.quatity }}</td>
                            <td>{{ drug.description }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Không có thuốc trong đơn.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <h5 class="fw-bold mt-4">Tổng Tiền: {{ medical_detail.total }}</h5>
        </div>

        {% endif %}
    </div>
</div>
</form>
{% endblock %}
