{% extends 'layout/base.html' %}

{% block title %}Hồ sơ cá nhân{% endblock %}

{% block content %}
<!-- Thêm link CSS vào head -->
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<div class="container py-5">
    <!-- Hiển thị thông báo từ hệ thống -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-8 col-md-10">
            <div class="card card-profile mb-4">
                <div class="card-header text-center  bg-dark text-white ">
                    <h3 class="my-3">Hồ sơ cá nhân</h3> <!-- Thêm tiêu đề "Hồ sơ cá nhân" -->
                </div>
                <div class="row g-0">
                    <div class="col-md-4 text-center card-header">
                        <!-- Avatar -->
                        {% if current_user.avatar %}
                        <img src="{{ current_user.avatar }}" class="img-fluid my-5 card-img"/>
                        {% else %}
                        <img src="{{ url_for('static', filename='images/login.png') }}"
                             class="img-fluid my-5 card-img"/>
                        {% endif %}
                        <h5>{{ current_user.name }}</h5>
                        <p class="text-muted">{{ current_user.user_role.value }}</p>
                        <a href="#"><i class="far fa-edit mb-5"></i></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h6>Username:</h6> {{ current_user.username }}</li>
                                <li class="list-group-item"><h6>Ngày sinh:</h6> {{ current_user.dob }}</li>
                                <li class="list-group-item"><h6>Điện thoại:</h6> {{ current_user.phone }}</li>
                                <li class="list-group-item"><h6>Email:</h6> {{ current_user.email }}</li>
                                <li class="list-group-item"><h6>Giới tính:</h6> {{ 'Nam' if current_user.gender.value ==
                                    'male' else 'Nữ' }}
                                </li>
                                <li class="list-group-item"><h6>Địa chỉ:</h6> {{ current_user.address }}</li>
                                {% if doctor %}
                                <li class="list-group-item"><h6>Chuyên môn:</h6> {{ doctor.specialization }}</li>
                                <li class="list-group-item"><h6>Bằng cấp:</h6> {{ doctor.degree }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer actions -->
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary mb-2">Chỉnh sửa Hồ sơ</a>
                <a href="#" class="btn btn-outline-danger mb-2">Đổi mật khẩu</a>
                <a href="#" class="btn btn-outline-danger mb-2">Đổi Username</a>
                <form action="#" method="POST" enctype="multipart/form-data" class="d-inline">
                    <input type="file" name="avatar" accept="image/*" onchange="PreviewImage()" style="display: none;"
                           id="avatar_input">
                    <label for="avatar_input" class="btn btn-outline-secondary mb-2">
                        <i class="bi bi-image"></i> Đổi avatar
                    </label>
                    <br/>
                    <img class="img-rounded my-4 shadow-lg" style="max-width: 1000px; max-height: 1000px; display: none"
                         id="blah" src="#" alt="avatar mới"/>
                    <button id="save_button" type="submit" class="btn btn-success" style="display: none;">Lưu</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
