{% extends 'layout/base.html' %}
{% block title %}Đăng nhập người dùng{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <!-- Cột ảnh -->
        <div class="col-md-6 text-center">
            <img src="{{ url_for('static', filename='images/register.png') }}"
                 alt="Welcome" class="img-fluid rounded shadow" style="max-width: 90%;">
        </div>

        <!-- Cột form -->
        <div class="col-md-6">
            <div class="card p-4 shadow-lg">
                <h1 class="text-center text-danger">Đăng nhập</h1>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <form method="post" action="{{ url_for('user_login') }}">
                    <div class="form-group">
                        <label for="username">Username: </label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Nhập tên tài khoản" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Nhập mật khẩu" required/>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <input type="submit" value="Đăng nhập" class="btn btn-danger px-4 mb-3"/>
                        <a href="{{ url_for('reset_password') }}" class="text-decoration-none">Quên mật khẩu?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
