{% extends 'layout/base.html' %}

{% block title %}Quên mật khẩu{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <!-- Cột form -->
        <div class="col-md-6">
            <div class="card p-4 shadow-lg">
                <h1 class="text-center text-danger">{{legend}}</h1>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <form method="post" action="{{ url_for('reset_password') }}">
                    {{form.hidden_tag()}}
                    <div class="form-group">
                        {{form.email.label(class="form-control-label")}}
                        {% if form.email.errors %}
                        {{form.email(class="form-control form-control-lg is-invalid")}}
                        {%for error in form.email.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{form.email(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <br>
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        {{form.submit(class="btn btn-primary")}}
                    </div>
                </form>
            </div>
        </div>

        <!-- Cột ảnh -->
        <div class="col-md-6 text-center">
            <img src="https://i.pinimg.com/736x/50/23/5a/50235a1d8e6e22c9a29c82bef0d9e3fa.jpg"
                 alt="Welcome" class="img-fluid rounded shadow" style="max-width: 90%;">
        </div>
    </div>
</div>
{% endblock %}
